<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Sharp Scholars - About Us</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='sharp.css'>
    <script src='main.js'></script>

<style>
  body{
    background-color: white;
  }

.logo {
    text-align:center;
}

.title {
  color: #ffffff;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.about-columns p{
  font-family: 'Raleway', sans-serif;
    color:#ffffff;
  font-size: 16px;
  font-weight: lighter;
  column-fill: auto;
  column-count: 1;
  column-gap: 20px;
  text-align: left;
  /* width: 100%; */
  padding-left: 50px;
  padding-right: 50px;
}
</style>
</head>
<body>
  <div id="page-container">
    <div id="content-wrap">
      
    <ul>
        <li><a href="home.html"><img class="icon" src="https://drive.google.com/uc?id=1TPWbLDfzk92jluEyRs7GpGsEKMDR0guI" height="41" width="123"></a></li>
        <li><a href="about.html">ABOUT</a></li>
        <li><a href="specs.html">SPECIFICATION</a></li>
        <li><a href="team.html">OUR TEAM</a></li>
        <li><a href="courses.html">COURSES</a></li>
        <li style="float:right"><a href="Login/login.html">LOGIN/REGISTER</a></li>
    </ul>

    <div class="title">
        <h1>ABOUT US</h1>
    </div>
    <div class="about-columns">
          <p>Our team wants to reimagine the introduction course all first-year students are required to take. This course is supposed to ease students through the transition from high school to college. It should teach students how to take care of themselves, study, network, and much more. After comparing notes from different introduction courses, our team came together to create the ultimate introduction course to help guide students to reach their full potential at a university. At the current moment, in phase development (October 11), we are mainly aiming at students who just left high school and are transitioning. I’m sure by the end, we will generalize to most people experiencing college firsthand.</p>
          <p>The basics we want to teach these students beginning their college journey begins with the educational setting. We will got
          through the idea of time management and how success directly pertains to one’s ability to manage this valuable college resource. Following in no particular order of importance (yet) is the idea of learning how to learn. This mindset is particularly important to students entering college. These young adults typically experience most learning through primary and secondary schools. From our personal experiences, we left high school with the slightest ability to self learn, which was a massive disservice to our education. The ability to truly study is another vital tool. While this goes hand in hand with the previous points, this is incredibly difficult for the students who are experiencing freedom from their parents or guardians for the first time. We would also like to reinforce learning and utilizing the school’s facilities/resources and efficiently using teachers’ office hours.</p>
          <p>The next encompassing subject we would like to discuss is networking and socializing. The dorm life for universities is a popular option, and we would love to give our insight to minimize negative social situations. First, we will discuss roommates, whether random or not, people are hard to live with, and we would like to make this new commitment as successful as possible. We also expect to highlight dorm life compared to other living situations to give perspective on the various options. Next, we want to explain making friends and interacting with others, and how crucial this can be to a successful time. We would like to elaborate on microaggressions and social standards because universities have some of the most massive melting pots available. Everyone should feel comfortable and expect respect and equality.</p>
          <p>   Lastly, personal health becomes an essential narrative while navigating the treacherous waters of freshman year. We would like to emphasize the importance of staying mentally, physically, and emotionally healthy. There are several steps to maintaining this, which becomes increasingly difficult with the lack of knowledge regarding personal care. Nourishment is the leading problem among freshmen, as suggested by the phrase “Freshman Fifteen,” a typical combination of words describing the mass (weight) accumulated during that time. A large variety of foods located around campuses do not have the students’ health as a priority. The busy college student has adopted a fast-food diet; we would like to encourage cooking meals at home as a healthier alternative. For the grand finale, We would like to have a guide for a safe night out. No one is naive enough to think underage college attendees will not try to indulge in the forbidden fruit of their elders. Information about safety while “going out” will be addressed, as well as resources to ensure safe transportation.</p>
        </div>
        <div>
            <p class="logo"><img src="SharpScholarsLogo.png"></p>
        </div>

      </div>
      <footer id="footer">Copyright &copy; 2020 Sharp Scholors</footer>
    </div>
</body>
</html>